<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nazwa %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Poczatkowy_punkt_po_wspolrz_X  %><br />
    <%= f.text_field :xp %>
  </div>
  <div class="field">
    <%= f.label :Poczatkowy_punkt_po_wspolrz_Y %><br />
    <%= f.text_field :yp %>
  </div>
  <div class="field">
    <%= f.label :Koncowy_punkt_po_wspolrz_X  %><br />
    <%= f.text_field :xk %>
  </div>
  <div class="field">
    <%= f.label :Koncowy_punkt_po_wspolrz_Y  %><br />
    <%= f.text_field :yk %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
