<h3>Lista niebezpiecznych tras w Tatrach Polskich</h3>

<table>
  <tr>
    <th>Nazwa trasy</th>

    <th>  </th>
    <th>  </th>
    <th>  </th>
  </tr>


<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.name %></td>

    <tr><td><%= link_to 'Pokaz', trip %></td></tr>
    <tr><td><%= link_to 'Edytuj', edit_trip_path(trip) %></td></tr>
    <tr><td><%= link_to 'Usun', trip, confirm: 'Na pewno?', method: :delete %></td></tr>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowa trasa', new_trip_path %>
