<h1>Lista niebezpiecznych tras w Tatrach Polskich</h1>

<table>
  <tr>
    <th>Nazwa trasy</th>
    <th>Punkt poczatkowy po wspolrz. x</th>
    <th>Punkt poczatkowy po wspolrz. y</th>
    <th>Punkt koncowy po wspolrz. x</th>
    <th>Punkt koncowy po wspolrz. y</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.name %></td>
    <td><%= trip.xp %></td>
    <td><%= trip.yp %></td>
    <td><%= trip.xk %></td>
    <td><%= trip.yk %></td>
    <td><%= link_to 'Pokaz', trip %></td>
    <td><%= link_to 'Edytuj', edit_trip_path(trip) %></td>
    <td><%= link_to 'Usun', trip, confirm: 'Na pewno?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowa trasa', new_trip_path %>
