<p id="notice"><%= notice %></p>

<p>
  <b>Nazwa trasy:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Punkt poczatkowy trasy po wspolrzednych x:</b>
  <%= @trip.xp %>
</p>

<p>
  <b>Punkt poczatkowy trasy po wspolrzednych y:</b>
  <%= @trip.yp %>
</p>

<p>
  <b>Punkt koncowy trasy po wspolrzednych x:</b>
  <%= @trip.xk %>
</p>

<p>
  <b>Punkt koncowy trasy po wspolrzednych y:</b>
  <%= @trip.yk %>
</p>

<%= image_tag @img_link %>

<%= image_tag"http://maps.google.com/maps/api/staticmap?markers=#{@trip.xp},#{@trip.yp}|#{@trip.xk},#{@trip.yk}&path=#{@trip.xp},#{@trip.yp}|#{@trip.xk},#{@trip.yk}&size=500x300&sensor=false"
%>

<p>
Minimalna wysokosc n.p.m.: <%= @min %> 
</p>
<p>
Maksymalna wysokosc n.p.m. <%= @max %>
</p>

<%= link_to 'Edytuj', edit_trip_path(@trip) %> |
<%= link_to 'Powrot', trips_path %>
