<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <%= stylesheet_link_tag "application" %>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">

<head>
  <%= csrf_meta_tag %>

  <title>Tatry</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>



<body>

<div id="container">

<div id="header">

  <h1><a href="#">Niebezpieczne trasy</a></h1>

  <h2>na terenie polskich Tatr</h2>

  <ul id="menu">

    <li id="tab_01"><a href="#">Start</a></li>

    <li id="tab_02"><a href="#">Kontakt</a></li>

    <li id="tab_03"><a href="#">Informacje</a></li>

  </ul>

</div>

<div id="content">

  <div id="main_column">

    <div class="entry">

      <span class="date"><%= l Time.now, :format => :short %></span>

  <%= yield %> <!--! end of #container -->
  <%= javascript_include_tag "application" %>
  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>


      <span class="entry_info">

        Autor, <a href="#">Kategoria</a></span>

      <div class="entry_footer">

        <div class="link">

          <a href="#">Link</a>

          <a href="#">Dodaj komentarz</a>

        </div>

        <div class="more"><a href="#">czytaj dalej</a></div>

      </div>

    </div>

  </div>

  <div id="side_panel">

    <div id="search_box"></div>

    <form action="http://google.com/custom" method="get">

      <div id="search_form">

        <div id="search_field"> 

          <label for="search_text"> 

            <span id="search_left"></span> 

            <input id="search_text" name="q" type="text" /> 

            <span id="search_right"></span>

          </label>

        </div>

        <div id="search_button"> 

          <input src="images/search_button.gif"

          type="image" name="sa" />

        </div>

        <input type="hidden" name="sitesearch" value="adres_strony" />

        <input type="hidden" name="domains" value="adres_strony" />

        <input type="hidden" name="hl" value="pl" />

      </div>

    </form>

    <div id="archives_box">

      <div id="archives_content">

        <h4>Archiwum</h4>

        <ul>

          <li><a href="#">Styczeń 2008</a></li>

          <li><a href="#">Luty 2008</a></li>

          <li><a href="#">Marzec 2008</a></li>

          <li><a href="#">Kwiecień 2008</a></li>

        </ul>

      </div>

      <span id="archives_footer"></span>

    </div>

    <div class="list_box">

      <h4>Ostatnie notki</h4>

        <ul>

          <li><a href="#">Screencast: Google Chrome</a></li>

          <li><a href="#">Licencja to podstawa </a></li>

          <li><a href="#">Firefox dla web developera</a></li>

          <li><a href="#">Linux, multimedia i Ubuntu</a></li>

        </ul>

    </div>

    <div class="list_box">

      <h4>Polecane wpisy</h4>

        <ul>

          <li><a href="#">Screencast: Google Chrome </a></li>

          <li><a href="#">Licencja to podstawa </a></li>

          <li><a href="#">Firefox dla web developera</a></li>

          <li><a href="#">Linux, multimedia i Ubuntu</a></li>

        </ul>

    </div>

    
    <div id="design">

     

    </div>

  </div>

  <div class="clear"></div>

</div>

</div>

<div id="footer"></div>

</body>



</html>
